@page "/access-denied"
@inject NavigationManager Navegador

<PageTitle>Acceso denegado</PageTitle>

<div class="container mt-5 text-center">
    <h2 class="text-danger">Acceso denegado</h2>
    <p>Usted no tiene los permisos necesarios para ver esta página</p>
    <button class="btn btn-primary" @onclick="IrAlInicio">Ok</button>
</div>

@code {
    private void IrAlInicio()
    {
        Navegador.NavigateTo("/");
    }
}
