@page "/ver-recibo/{numeroRecibo}"
@using BlazorAppVictor.Models
@using System.Net.Http.Json
@inject HttpClient Http
@inject SweetAlertService Swal
@inject NavigationManager Navegador

<h3>Detalles del Recibo</h3>

