@page "/Registro"
@using BlazorAppVictor.Auth
@using BlazorAppVictor.DTOs
@inject HttpClient Http
@inject SweetAlertService Swal
@inject ILoginService loginService
@inject NavigationManager Navegador


<h3>Registro</h3>

<EditForm Model="userInfo" OnValidSubmit="CrearUsuario">
	<DataAnnotationsValidator />

	<div class="mb-3">
		<label>Email:</label>
		<div>
			<InputText class="form-control" @bind-Value="userInfo.Email" />
			<ValidationMessage For="@(() => userInfo.Email)" />
		</div>
	</div>

	<div class="mb-3">
		<label>Password:</label>
		<div>
			<InputText type="password" class="form-control" @bind-Value="userInfo.Password" />
			<ValidationMessage For="@(() => userInfo.Password)" />
		</div>
	</div>

	<button type="submit" class="btn btn-primary">Registrar</button>
</EditForm>

@code {
	private UserInfoDTO userInfo = new UserInfoDTO();


	private async Task CrearUsuario()
	{
		// Realizar la petición POST
		var response = await Http.PostAsJsonAsync("https://localhost:7123/api/cuentas/crear", userInfo);

		if (!response.IsSuccessStatusCode)
		{
			// Manejar el error si la respuesta no es exitosa
			var errorMessage = await response.Content.ReadAsStringAsync();
			await Swal.FireAsync("Error", errorMessage, SweetAlertIcon.Error);
		}
		else
		{
			// Obtener el token de la respuesta y realizar login
			var userToken = await response.Content.ReadFromJsonAsync<UserTokenDTO>();
			await loginService.Login(userToken.Token);
			Navegador.NavigateTo("");
		}
	}
}
